

.fundolegal{
    background-color: #F2F2F2;
    border-style: solid;
    border-radius: 20px;
    border-color: #022840;
}


.borda{
    border-style: solid;
    border-radius: 6px;
    border-color: #022840;
}

.fundolegalsemborda{
    background-color: #F2F2F2;
}